header {
    font-style: italic;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.container {
    display: flex;
}

.container > div {
    margin: 3px;
}

.select {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.search {
    justify-content: center;
}

#btn {
    margin-top: 15px;
    padding: 10px 10px 10px 10px;
}

footer {
    margin-top: auto;
    color: blue;
}

header, footer {
    width: fit-content;
    text-align: center;
}